.menu{
    position:absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width:25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateX(30rem);
    transition: 0.5s ease-in-out;

}

.menu.active{
    opacity: 1;
    visibility: visible;
    transform:translateX(0);
}

.menu ul{
    font-size: 2rem;
    position: relative;
    transition: 0.3s ease-in-out;
}

.menu ul::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    width: 0;
    background-color: #fff;
    transition: 0.3s ease-in-out;

}

.menu ul:hover{
  margin-left:2rem;
  font-size: 50px;
}

.eachmenu:before, .eachmenu:after {
		display: block;
		content: attr(dataglitch);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: .8;
	} 
.eachmenu:after {
		color: #f0f;
		z-index: -2;
	} 
.eachmenu:before {
		color: #0ff;
		z-index: -1;
	}
.eachmenu:hover:before {
			animation: glitch .3s cubic-bezier(.1, .11, .2, .6) infinite
		}
.eachmenu:hover:after {
			animation: glitch .3s cubic-bezier(.1, .12, .3, .1) infinite
		}
.eachmenu:hover:before {
			animation: glitch .3s cubic-bezier(.1, .15, .1, .1) reverse infinite
		}





@keyframes glitch {
	0% {
		transform: translate(0)
	}
	20% {
		transform: translate(-1px, 2px)
	}
	40% {
		transform: translate(-3px, -6px)
	}
	60% {
		transform: translate(2px, 5px)
	}
	80% {
		transform: translate(5px, -1px)
	}
	to {
		transform: translate(0)
	}
}




