.current_container{
    position: relative;
    display:flex;
    height:97vh;
    width: 100vw;
flex-direction: row-wrap;
    
}

.mainscreen{
    margin-right:1%;
    align-items:center;
    width:100%;
    display:flex;
    position:absolute;
    bottom:2rem;
    height:90%;
    justify-content:center;

}

.right{
display:flex;
width: 1%;
height: 100%;
right:30;
background-color: var(--main-color);
transition: all .3s ease-in-out;
}

.Currenttextbox{
    background-color: rgb(27, 27, 27);
    height: 30vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.right:hover{
    justify-content: center;
    width: 12%;
}
.playlistcontainerCurrent{
    position: absolute;
    display: flex;
    flex-flow:row;
    height:1.4em;
    z-index: 18;
    width:100%;
    background-color: #121212;
    border-radius: 1rem;
    bottom:-1em;
    transition: all .3s ease-out;
}
.playlistcontainerCurrent:hover{
    height:10em;
    position: absolute;
    bottom:-1em;
    z-index: 15;
}

.DropArea{
    top:30%;
    height: 80vh;
    width: 100vw;
    flex-direction: row;
    justify-content:space-evenly;
    display:flex;
    position:absolute;
    z-index: 1;
    opacity: 1;
}
.playVideo{
        transition: all .2s ;
    opacity:0;
}

.playVideo.active {
    opacity:.2;
}
.deleteVideo{
    opacity:0;
    transition: all .2s ;
}
.deleteVideo.active {
    opacity:.2;

}

.playVideo{
    background-color: green;
    display: flex;
align-items:center;
padding: 8rem;
    height: 50%;
}

.deleteVideo{
    background-color:red;
    display: flex;
align-items:center;
padding: 3rem;
    height: 50%;
}

.DropArea h1{
opacity: 1;
}

.playlistcontainerCurrent.grabbing{
    height:10em;
    position: absolute;
    display: flex;

    bottom:0em;
}

.PlaylistTitle{
    position:absolute;
    top:0;
    height:1.2rem;
    right: 50%;


}